# Clonk Archive

This archive contains {{.Count}} clonk mods, engines and games from [ccan.de](https://ccan.de) and the [Clonk-Center Archive](https://cc-archive.lwrl.de) that were uploaded before {{.DateString}}. {{with .FailedEntrys}}There were problems downloading {{.}} Items. You can find their metadata in the `failed.json` file in the archive.{{end}}

# Mods

The files are in the following schema:

 > `site/username/name.ext`

 - `site`: The site name where the item was hosted. This is either "CCAN" or "Clonk-Center"
 - `username`: username of the user that uploaded the file to CCAN.de
 - `name.ext`: File to download

There are also metadata files according to this schema:

 > `site/username/name.ext.json`

Exception: `README.md`{{with .FailedEntrys}} and `failed.json`{{end}}


#### Metadata

The json file for all "CCAN" items contains the following entry:

```json
{
  "name": Display name of the object,
  "date" Upload date,
  "download_count": Number of downloads,
  "author": Name of the uploader,
  "votes": Number of votes,
  "category": Category,
  "engine": Engine for which this file was created,
  "download_link": download link to ccan.de (Usually a redirect)
}
```

The json file for all "Clonk-Center" items contains the following entry:

```json
{
  "name": Display name of the object,
  "date" Upload date,
  "download_count": Number of downloads,
  "author": Name of the uploader,
  "engine": Engine for which this file was created,
  "download_link": download link to cc-archive.lwrl.de,
  "description": The description that can be found at the page for this item (as Markdown text)
}
```

# Engines

All Engines/Games can be found in the following folders:

 > `CCAN/Redwolf Design`
 > `Clonk-Center/Redwolf Design`

# Keys & Passwords

The `Freeware.c4k` key available at `CCAN/Redwolf Design` is for Clonk Endeavour. You need to copy it in the same directory as the installed `clonk.exe`.

The `Freeware Key Clonk Planet DE` and `Freeware Key Clonk Planet US` files in the same folder contain instructions to register Clonk Planet.

The developer mode password for both Clonk Endeavour and Clonk Planet is `Siedlerclonk`.